<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title="" />
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input formControlName="name" label="Name" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" label="Email" labelPlacement="floating" type="email" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" label="Password" labelPlacement="floating" type="password" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="repeatPassword" label="repeatPassword" labelPlacement="floating"
            type="password" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="phone" label="phone" labelPlacement="floating" type="phone" />
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Address</ion-card-title>
      </ion-card-header>
      <ion-card-content formGroupName="address">
        <ion-item>
          <ion-input formControlName="street" label="Street" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="number" label="Number" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="neighborhood" label="Neighborhood" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="complement" label="Complement" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="zipCode" label="Zip Code" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="state" label="State" labelPlacement="floating" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="city" label="City" labelPlacement="floating" />
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="register()" size="full" color="light">
      Register
    </ion-button>
  </form>
</ion-content>